LITELLM_BASE_URL=http://141.19.141.155:4000
LITELLM_API_KEY=HIER_API_KEY_EINTRAGEN
LITELLM_MODEL=medgemma:27b

# Remove the '#' in line 7 and replace 'Database_URL' to the actual databse URL.
# Teh database URL is shared separately within the team (e.g. Discord).

# DATABASE_URL=Database_URL

# In case you want to use a local llm: 

#LITELLM_BASE_URL=http://localhost:11434/v1
#LITELLM_API_KEY=ollama
#LITELLM_MODEL=medgemma:4b